# 1. Primitive Datatypes and Operators

In [1]:
3

3

In [2]:
1 + 1

2

In [3]:
8-1

7

In [4]:
10*2

20

In [5]:
35/5

7.0

In [6]:
5//3

1

In [7]:
5.0 // 3.0

1.0

In [8]:
-5 // 3 # Integer division with negative numbers

-2

In [9]:
-5.0 // 3.0

-2.0

In [10]:
10.0 / 3

3.3333333333333335

In [11]:
7 % 3

1

In [12]:
2**3

8

In [13]:
(1 + 3) * 2

8

In [14]:
not True

False

In [15]:
not False

True

* 0 -> 0 (False)
* 0 and x -> 0
* 0 or x -> x


* 1 -> 1 (True)
* 1 and x -> x
* 1 or x -> 1

In [16]:
0 and 2

0

In [17]:
-5 or 0

-5

In [94]:
1 and 2

2

In [95]:
1 or -5

1

In [18]:
0 == False

True

In [19]:
2 == True

False

In [20]:
1 == True

True

In [21]:
-5 != False != True

True

In [22]:
1 < 2 < 3

True

In [23]:
2 < 3 < 2

False

In [24]:
a = [1, 2, 3, 4]

In [25]:
b = a

In [26]:
b is a # b and a are the same objects

True

In [27]:
b = [1, 2, 3, 4]

In [28]:
b is a

False

In [29]:
b == a

True

**b** and **a** are not the same objects but their values are equal.

In [30]:
"Hello " + "world"

'Hello world'

In [31]:
"Hello " "world"

'Hello world'

In [32]:
"This is a string"[-1]

'g'

In [33]:
len("This is a string")

16

In [34]:
"{} can be {}".format("Strings", "interpolated")

'Strings can be interpolated'

In [35]:
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")

'Jack be nimble, Jack be quick, Jack jump over the candle stick'

In [36]:
"{name} wants to eat {food}".format(name = "Bob", food = "lasagna")

'Bob wants to eat lasagna'

In [37]:
"%s can be %s the %s way" % ("Strings", "interpolated", "old")

'Strings can be interpolated the old way'

In [38]:
None

In [39]:
"etc" is None

False

In [40]:
None is None

True

In [41]:
"etc" ==  None # This might should not work...?

False

In [42]:
None == None

True

In [43]:
bool(None)

False

In [44]:
bool(0)

False

In [45]:
bool("")

False

In [46]:
bool([]) # list

False

In [47]:
bool({}) # dict

False

In [48]:
bool(()) # tuple

False

# 2. Variables and Collections

In [49]:
print("This is Python, and it talks to me, great!")

This is Python, and it talks to me, great!

In [50]:
print("Hello, world", end = "!") # Defining the end of the string

Hello, world!

In [51]:
input_string_var = input("Enter some data: ")

Enter some data: hey

In [52]:
some_var = 5
some_var

5

In [83]:
# undefined_var # Raises NameError

In [56]:
"yahoo" if  3 > 2 else 2

'yahoo'

## Lists

In [57]:
li = []

In [58]:
other_li = [4, 5, 6]

In [59]:
li.append(1)
li

[1]

In [60]:
li.append(2)
li

[1, 2]

In [61]:
li.append(3)
li

[1, 2, 3]

In [62]:
li.append(4)
li

[1, 2, 3, 4]

In [63]:
li.pop()
li

[1, 2, 3]

In [64]:
li.append(3)
li

[1, 2, 3, 3]

In [65]:
li[0]

1

In [66]:
li[-1]

3

In [68]:
# li[4] # This should raise an error

In [69]:
li[1:3] # Closed/open range slicing in the following format
# li[start:end:step]

[2, 3]

In [70]:
li[2:]

[3, 3]

In [71]:
li[:3]

[1, 2, 3]

In [72]:
li[::2] # Selects every second entry

[1, 3]

In [73]:
li[::-1] # Reversed copy

[3, 3, 2, 1]

In [74]:
li2 = li[:] # One layer deep copy

In [75]:
li2 == li

True

In [76]:
li2 is li

False

In [77]:
del li[2] # delete element based on index

In [78]:
li

[1, 2, 3]

In [79]:
li.remove(2) # removes the first occurance of '2'
li

[1, 3]

In [80]:
li.insert(1, 2) # insert(element, location_index)

In [81]:
li

[1, 2, 3]

In [82]:
li.index(2) # index of first occurence

1

In [85]:
# li.index(4) # Raises a ValueError

In [86]:
li + other_li

[1, 2, 3, 4, 5, 6]

In [92]:
li.extend(other_li) # Concatenate lists

In [93]:
li

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [90]:
1 in li

True

In [91]:
len(li)

6

##  Tuples

In [96]:
tup = (1, 2, 3)

In [97]:
tup[0]

1

In [99]:
# tup[0] = 3 # Raises a TypeError because tuples are immutable

In [100]:
type((1))

int

In [103]:
type((1,)) # For a single element a tuple needs a comma behind it

tuple

In [102]:
type(())

tuple

In [104]:
len(tup)

3

In [105]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [106]:
tup[:2]

(1, 2)

In [107]:
2 in tup

True

In [109]:
a, b, c = (1, 2, 3) # unpacking tuples into variables
a, c

(1, 3)

In [110]:
a, *b, c = (1, 2, 3, 4)
b

[2, 3]

In [113]:
d, e, f = 4, 5, 6 # By default, tuples do not need brackets
f, e, d

(6, 5, 4)

In [114]:
e, d = d, e # swapping values
a, b, c, d, e, f

(1, [2, 3], 4, 5, 4, 6)

## Dictionaries

In [115]:
empty_dic = {}

In [118]:
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict

{'one': 1, 'three': 3, 'two': 2}

Dictionary keys needs to be immutable types, like
* integers
* floats
* strings
* tuples

In [120]:
# invalid_dict = {[1, 2, 3]: "123"} # Raises a TypeError

In [121]:
valid_dict = {(1, 2, 3): "123"}
valid_dict

{(1, 2, 3): '123'}

In [123]:
filled_dict.keys()

dict_keys(['one', 'two', 'three'])

In [124]:
list(filled_dict.keys())

['one', 'two', 'three']

In [125]:
filled_dict.values()

dict_values([1, 2, 3])

In [126]:
list(filled_dict.values())

[1, 2, 3]

In [134]:
"one" in filled_dict # By default, 'in' checks for keys

True

In [131]:
1 in filled_dict.values() # checking for a value

True

In [122]:
filled_dict["one"]

1

In [136]:
# filled_dict["four"] # Raises a KeyError

### Dictionary get() method

In [137]:
filled_dict.get("one")

1

In [138]:
filled_dict.get("four")

In [139]:
filled_dict.get("one", 4)

1

In [140]:
filled_dict.get("four", 4)

4

### Dictionary setdefault() method

In [143]:
filled_dict.setdefault("five", 5)
filled_dict

{'five': 5, 'one': 1, 'three': 3, 'two': 2}

In [145]:
filled_dict.setdefault("five", 6) # setdefault() works only if the key does not exist yet
filled_dict

{'five': 5, 'one': 1, 'three': 3, 'two': 2}

### Adding to a dictionary

In [147]:
filled_dict.update({"four": 4})
filled_dict

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [148]:
filled_dict["six"] = 6
filled_dict

{'five': 5, 'four': 4, 'one': 1, 'six': 6, 'three': 3, 'two': 2}

In [149]:
del filled_dict["one"]
filled_dict

{'five': 5, 'four': 4, 'six': 6, 'three': 3, 'two': 2}

In [150]:
{'a': 1, **{'b': 2}}

{'a': 1, 'b': 2}

In [152]:
{'a': 1, **{'a': 2}} # [How does this work?]

{'a': 2}

## Sets

In [153]:
empty_set = set()

In [154]:
some_set = {1, 1, 2, 2, 3, 4}
some_set

{1, 2, 3, 4}

In [156]:
# invalid_set = {[1], 1} # Raises a TypeError because values needs to be immutable

In [157]:
valid_set = {(1,), 1}
valid_set

{1, (1,)}

In [158]:
filled_set = some_set
filled_set.add(5)
filled_set

{1, 2, 3, 4, 5}

In [160]:
other_set = {3, 4, 5, 6}
filled_set & other_set # Intersection of two sets

{3, 4, 5}

In [162]:
filled_set | other_set # Union

{1, 2, 3, 4, 5, 6}

In [163]:
{1, 2, 3, 4} - {2, 3, 5} # Set difference

{1, 4}

In [164]:
{1, 2, 3, 4} ^ {2, 3, 5} # Simmetric difference

{1, 4, 5}

In [166]:
{1, 2} >= {1, 2, 3} # Checking superset/subset relation

False

In [167]:
{1, 2} <= {1, 2, 3} # Checking superset/subset relation

True

In [168]:
2 in filled_set

True

In [169]:
10 in filled_set

False

# 3. Control Flow and Iterables

In [170]:
some_var = 5

In [173]:
if some_var > 10:
    print("some_var is bigger than 10.")
elif some_var < 10: # Identation is important, and the convention is 4 spaces
    print("some_var is smaller than 10.")
else:
    print("some_var is exaclty 10")

some_var is smaller than 10.

In [174]:
for animal in ["dog", "cat", "mouse"]:
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [175]:
for i in range(4):
    print(i)

0
1
2
3

In [176]:
for i in range(4, 8):
    print(i)

4
5
6
7

In [177]:
for i in range(4, 8, 2):
    print(i)

4
6

In [178]:
x = 0
while x < 4:
    print(x)
    x += 1

0
1
2
3

In [181]:
try:
    raise IndexError("This is an index error") # Raises an error
except IndexError as e: # [What does 'e' stand for?]
    pass
except (TypeError, NameError):
    pass
else:
    print("All good!") # Runs if there are no exceptions
finally: # Runs in all circumstances
    print("We can clean up resources here")

We can clean up resources here

In [183]:
# with open("myfile.txt") as f: # [I do not understand what does this do]
#    for line in f:
#        prin(line)

In [187]:
filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
our_iterable # this object implements an Iterable interface

dict_keys(['one', 'two', 'three'])

In [189]:
for i in our_iterable: # We can loop over it
    print(i)

one
two
three

In [191]:
# our_iterable[1] # We cannot address an element in it, it raises a TypeError

In [201]:
our_iterator = iter(our_iterable) # Creating an iterator from an iterable object
our_iterator

In [202]:
next(our_iterator) # The iterator object remembers of the last visited state within it

'one'

In [203]:
next(our_iterator)

'two'

In [204]:
next(our_iterator)

'three'

In [206]:
# next(our_iterator) # After its last element it raises a StopIteration exception

In [207]:
list(filled_dict.keys()) # Grabbing all the iterator elements

['one', 'two', 'three']

# 4. Functions

In [208]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y

In [209]:
add(5, 6)

x is 5 and y is 6

11

In [210]:
add(y = 6, x = 5)

x is 5 and y is 6

11

In [214]:
def varargs(*args):
    # Takes a variable number of positional arguments
    return args

In [215]:
varargs(1, 2, 3)

(1, 2, 3)

In [216]:
def keyword_args(**kwargs):
    # Takes a variable number of keyword arguments
    return kwargs

In [217]:
keyword_args(big = 'foot', loch = 'ness')

{'big': 'foot', 'loch': 'ness'}

In [218]:
def all_the_args(*args, **kwargs):
    # Takes both positional and keyword arguments
    print(args)
    print(kwargs)

In [219]:
all_the_args(1, 2, a = 3, b = 4)

(1, 2)
{'a': 3, 'b': 4}

In [220]:
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}

In [221]:
all_the_args(*args) # * expands tubples

(1, 2, 3, 4)
{}

In [224]:
all_the_args(**kwargs) # ** expands kwargs

()
{'a': 3, 'b': 4}

In [223]:
all_the_args(*args, **kwargs)

(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [225]:
def swap(x, y):
    return y, x

In [226]:
x = 1
y = 2
swap(x, y)

(2, 1)

In [227]:
x = 5

In [234]:
def set_x(num):
    x = num # here the x is a local variable
    print(x)

In [229]:
def set_global_x(num):
    global x
    print(x)
    x = num # sets global var x to num
    print(x)

In [231]:
set_x(43)

43

In [233]:
set_global_x(6)

5
6

In [238]:
def create_adder(x): # First class function
    def adder(y):
        return x + y
    return adder

In [236]:
add_10 = create_adder(10)

In [237]:
add_10(3)

13

In [239]:
(lambda x: x > 2)(3)

True

In [241]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)

5

In [247]:
list(map(add_10, [1, 2, 3])) # built-in higher order functions

[11, 12, 13]

In [250]:
list(map(max, [1, 2, 3], [4, 2, 1])) # Practice!

[4, 2, 3]

In [249]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7])) # [How does this work<]

[6, 7]

In [252]:
[add_10(i) for i in [1, 2, 3]] # list comprehension

[11, 12, 13]

In [253]:
[x for x in [3, 4, 5, 6, 7] if x > 5]

[6, 7]

In [256]:
{x for x in 'abcddeef' if x not in 'abc'} # dict comprehension

{'d', 'e', 'f'}

In [255]:
{x: x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# 5. Modules

In [257]:
import math as m

In [259]:
dir(m)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

#  6. Classes

In [261]:
class Human:
        species = "H. sapiens" # class attribute shared by all class instances
        
        def __init__(self, name): # basic initializer
            # __method__ re special method or dunder method used by python
            self.name = name # assign argument to the instance's name attribute
            self._age = 0 # initialize property
            
        def say(self, msg): # an instance method, takes 'self; as the first argument
            print("{name}: {message}".format(name = self.anem, message = msg))
            
        def sing(self): # another instance method
            return 'egy-ket-ha...mikrofonproba'
        
        @classmethod # A class method (shared by all instances)
        # called with the calling class as the first argument
        def get_species(cls):
            return cls.species
        
        # A static method (called without a class or instance reference)
        @staticmethod
        def grunt():
            return "*grunt*"
        
        # Property (like a getter)
        @property
        def age(self):
            return self._age # turns the method age() into a read-only attribute with the same nam
        
        @age.setter # allows the property to be set
        def age(self, age):
            self._age = age
            
        @age.deleter # allows the property to be deleted
        def age(self):
            del self._age

In [ ]:
# This  __name__ check makes sure that its code block is only executed when the module is in the main program
if __name__ == '__main__':
    # Instantiate a class
    i = Human(name = "Ian")
    i.say("hi")
    j = Human("Joel")
    j.say("hello")
    # i and j are Human objects or instances of type Human
    
    i.say(i.get_species()) # Call the class method
    
    Human.species = "H. neaderhtalensis" # change the shared attribute
    i.say(i.get_species())
    j.say(j.get_species())
    
    print(Human.grunt()) # static method
    
    print(i.grunt()) # Returns TypeError because i.grunt() takes 'self' as an argument and cannot take another one
    
    i.age = 42 # update property for this instance
    
    i.say(i.age)
    j.say(j.age)
    
    del i.age

### Inheritance

Child classes inheriting methods and variables form parent class

In [ ]:
# from human import Human # If the parent class would be stored in human.py

In [ ]:
class Superhero(Human): # The parent class is a parameter for the child class
    # pass # This would make the new class inherit everything
    
    species = 'Superhuman' # overriding an attribute from the parent
    
    # This constructor 
        # inherits "name"
        # adds
            # "superpower"
            # "movie"
    def __init__(self, 
             name, 
             movie = False,
             superpowers = ["super strength", 
                            "bulletproofing"]):
    
        # additional class attributes
        self.fictional = True
        self.movie = movie
        self.superpowers = superpowers
            
        # this function allows accessing the parent's class' methods overriddent by the child
        super().__init__(name)

    def sing(self): # overloading the sing method
        return 'Dun, dun, DUN!'

    def boast(self):
        for power in self.superpowers:
            print("I wield the power of {pow}".format(pow = power))

if __name__ == '__main__':
    sup = Superhero(name = 'Tick')
    
    # type checks
    if isinstance(sup, Human):
        print('I am human')
    if type(sup) is Superhero:
        print('I am a superhero')
        
    # Method Resolution search Order (MRO)
    # used by getattr() and super()
    # it is a dynamic attribute, i.e. can be updated
    print(Superhero.__mro__) # (<class '__main__.Superhero'>, <class 'human.Human'>, <class 'object'>)
    
    print(sup.get_species()) # calls parent method but with its own class attribute
    print(sup.sing()) # calls overload method
    sup.say('Spoon') # calls method from parent
    sup.boast() # calls method from child class
    
    sup.age = 31 # Inherting a class attribute
    print(sup.age)
    
    # Attribute of the child class
    print("Am I Oscar eligible?" + str(sup.movie))

### Multiple inheritance|

In [ ]:
class Bat:
    species = 'Baty'
    
    def __init__(self, can_fly = True):
        self.fly = can_fly
    
    # This class also has a say method
    def say(self, msg):
        msg = '... ... ...'
        return msg
    
    # And its own method as well
    def sonar(self):
        return '))) ... ((('
    
if __name__ == '__main__':
    b = Bat()
    print(b.say('hello'))
    print(b.fly)

In [ ]:
# importing the two classes
# from superhero import Superhero
# from bat import Bat

In [ ]:
class Batman(Superhero, Bat): # Inherits from two classes
    def __init__(self, *args, **kwargs):
        # __init__ calls for all ancestors
        # *args and **kwargs allows to pass arguments
        
        # *then* it can call from the parent classes
        Superhero.__init__(self, 
                           'anonymous', 
                           movie = True,
                           superpowers = ['Wealthy'],
                           *args,
                           **kwargs)
        
        Bat.__init__(self, 
                     *args, 
                     can_fly = False, 
                     **kwargs)
        
        self.name = 'Sad Affleck'
        
        def sing(self):
            return 'nan nan nan nan nan batman!'

if __name__ == '__main__':
    sup = Batman()
    
    print(Batman.__mro__) # Method Resolution search Order
    # (<class '__main__.Batman'>,
    # <class 'superhero.Superhero'>,
    # <class 'human.Human'>, # [Is this so? why?]
    # <class 'bat.Bat'>,
    # <class 'object'>)
    
    print(sup.get_species()) # Calls parent method with own class attribute
    print(sup.sing()) # Calls overloaded method
    sup.say('I agree') # Calls method from Human (inheritance order!)
    print(sup.sonar()) # Calls method from the second parent
    
    sup.age = 100 # Inherited class attribute
    print(sup.age)
    
    # Inherting attribute from the 2nd parent with overridden value
    print('Can I fly?' + str(sup.fly))

### Advanced

In [7]:
def double_numbers(iterable):
    """
    Generators can produce lazy code
    """
    for i in iterable:
        yield i + i
        # some information about iterators, generators and yield:
        # https://pythontips.com/2013/09/29/the-python-yield-keyword-explained/

        # generators (vs iterators) run only once
        # yield creates generators and it does not runs the function!

Generators only load data needed for the next value in the iterable

In [4]:
for i in double_numbers(range(1, 900000000)):
    print(i)
    if i >= 30:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30